<div class="container">
    <div>
        <app-padre></app-padre>
    </div>

    <div class="p-3 mb-2 bg-success text-white">
        <div>
            <h1 class="text-center">SESI&Oacute;N 15</h1>
            <h3>{{titulo}}</h3>
            <div>
                <p>Event biding</p>
                <button (click)="ver()" type="button" class="btn btn-dark rounded-pill">
                    {{ evento? "Ocultar" : "Mostrar" }}
                </button>
                <div *ngIf="evento">
                    <p>
                    Event Binding, es el mecanismo de data binding mediante el cual trabaja con los eventos que se encuentran en el DOM
                    </p>
                </div>
                <div>
                    <p>Two way binding</p>
                    <div>
                        <p>{{texto}}</p>
                    </div>
                    <div class="col-5">
                        <textarea name="" id="" cols="1" rows="6" [(ngModel)]="texto" class="form-control"></textarea>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>